<div class="container" ng-init="moviesVm.getMovies()">

    <h2>All Movies</h2>
        <li>Search<input type="text" class="form-control" ng-model="moviesVm.searchText" id="search" placeholder="Title, Gernre, Year"></li>
    <table class="table table-hover">
        <thead>
        <tr class="list">
            <th>Title</th>
            <th>Year</th>
            <th>Runtime</th>
            <th>Language</th>
            <th>IMDB Ratings</th>
            <th>Genre</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="movie in moviesVm.movies | filter:moviesVm.searchText">
            <td><a href="#/movies/{{movie.id}}">{{movie.title}}</a></td>
            <td>{{movie.year}}</td>
            <td>{{movie.runtime}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.imdbRating}}</td>
            <td>{{movie.genre}}</td>
        </tr>
        </tbody>
    </table>



</div>