<div class="container" ng-init="moviesVm.getSeries()">

    <h2>TV Shows</h2>
    <table class="table table-hover">
        <thead>
        <tr class="list">
            <th>Title</th>
            <th>Rated</th>
            <th>Runtime</th>
            <th>Language</th>
            <th>IMDB Ratings</th>
            <th>Genre</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="series in moviesVm.series">
            <td><a href="#/series/{{series.id}}">{{series.title}}</a></td>
            <td>{{series.rated}}</td>
            <td>{{series.runtime}}</td>
            <td>{{series.language}}</td>
            <td>{{series.imdbRating}}</td>
            <td>{{series.genre}}</td>
        </tr>
        </tbody>
    </table>

</div>>