<div class="container" ng-init="moviesVm.getTopRatedSeries()">

    <h2>Trending series</h2>
    <li>Search<input type="text" class="form-control" ng-model="moviesVm.searchText" id="search" placeholder="Title, Gernre, Year"></li>

    <table class="table table-hover">
        <thead>
        <tr class="list">
            <th>Title</th>
            <th>Year</th>
            <th>Runtime</th>
            <th>Language</th>
            <th>IMDB Ratings</th>
            <th>Genre</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="series in moviesVm.series | filter: moviesVm.searchText">
            <td><a href="#/series/{{series.id}}">{{series.title}}</a></td>
            <td>{{series.rated}}</td>
            <td>{{series.runtime}}</td>
            <td>{{series.language}}</td>
            <td>{{series.imdbRating}}</td>
            <td>{{series.genre}}</td>
        </tr>
        </tbody>
    </table>



</div>