
.main {
    background: url(../images/black.jpg) no-repeat center center fixed;
    background-size : cover;
}

h2, .h2 {
    font-size: 30px;
    font-family: cursive;
    color: honeydew;
}
h4, p {
    font-family: cursive;
    color: honeydew;
}
b {
    color: grey;
}

th {
    color: white;
}

td {
    color: orangered;;
}


